.card {
  padding: 10px 40px;
  text-align: center;
  width: 100vw;

  h1 {
    font-size: 1.75rem;
    font-weight: 600;
    margin: 20px 0;
  }

  p {
    letter-spacing: 0.02rem;
    line-height: 1.3rem;
    margin: 0 0 10px;
  }
}
