.carousel {
  text-align: center;

  .title {
    margin: 30px 0 30px;
  }

  .cardWrapper {
    .cards {
      display: flex;
      overflow: auto;
      flex: none;
      width: 100%;
      flex-flow: row nowrap;
      scroll-snap-type: x mandatory;
    }

    .card {
      scroll-snap-align: center;
      flex: none;
    }
  }
}
